.boxCreateDoctor {
    background-image: url("../../public/covid-19-coronavirus-disease-healthcare-workers-concept-close-up-confident-professional-female-doctor-nurse-glasses-scrubs-standing-white-background-cross-arms.jpg");
    height: 550px;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .boxCreateDoctor > .box_2 {
    position: absolute;
    padding: 20px 10px;
    background: inherit;
    color: #003366;
    border-color: #003366;
    width: 650px;
    margin-left: 30%;
    margin-top: 120px;
    background-color: #003366;
  }