.boxCreateDoctor {
    background-image: url("../../public/background3.jpg");
    height: 600px;
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
  }
  
  .boxCreateDoctor > .box_2 {
    position: absolute;
    padding: 20px 10px;
    background: inherit;
    color: #ffffff;
    border-color: #003366;
    width: 650px;
    margin-left: 30%;
    margin-top: 10px;
    background-color: #003366;
  }